version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: ms_odds_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres 
      POSTGRES_DB: MS_OddsDb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 10s
      retries: 5

  api:
    build: ./CDM.Odds
    container_name: ms_odds_api
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=MS_OddsDb;Username=postgres;Password=postgres
    ports:
      - "5002:8080"
volumes:
  postgres_data:
